[submodule "JAVA_11302_Project"]
	path = JAVA_11302_Project
	url = https://github.com/lilmu/JAVA_11302_Project.git
[submodule "Space_Invader"]
	path = Space_Invader
	url = https://github.com/lilmu/Space_Invader.git
[submodule "Tetris"]
	path = Tetris
	url = ./../Tetris
[submodule "JAVA-B11207014-Morris-B11207029-Johnson"]
	path = JAVA-B11207014-Morris-B11207029-Johnson
	url = https://github.com/sheng-luen-chung/JAVA-B11207014-Morris-B11207029-Johnson.git
[submodule "JAVA_TA_2024"]
	path = JAVA_TA_2024
	url = https://github.com/sheng-luen-chung/JAVA_TA_2024.git
[submodule "JavaFinal"]
	path = JavaFinal
	url = https://github.com/sheng-luen-chung/JavaFinal.git
